/*HTML RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* 
HTML5 display-role reset for older browsers 
*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
STANDARD STYLES
*/

body {
font: normal 100% Helvetica, Arial, sans-serif;
color: #000;
line-height:1.5em;
padding: 0px;
margin: 0px;
background:#eee url(../img/diamond-pattern.png) repeat top center;
	}
	
#container {
max-width: 950px;
margin: auto;
border-right: 1px solid #D8D8D8;
border-left: 1px solid #D8D8D8;
background-color: #FBFBFB; 
}
	
header {
margin: auto;
padding: 0px 6.4736842% 0px 6.4736842%;
border-bottom: 1px solid #D8D8D8;
		}
		
hgroup {
text-align: center;
padding: 95px 9.4736842% 95px 9.4736842%;
}
				
hgroup h1 {
color: #e34a28;
font: 4em 'Merriweather', Georgia, serif;/*36px / 16px*/
text-align: center;
line-height: 1.1em;
font-weight: 500;
text-shadow: 1px 1px 0px #ddd;
padding: 0px;
margin-bottom: 8px;
}	
	
hgroup p {
font: 1.6em 'Open Sans', helvetica, sans-serif;
text-align: center;
font-weight: 300;
line-height: 1.3em;
padding: 0px;
color:#000;
}
			
/*
NAVIGATION
*/

.logo {
display: block;
float: left;
margin-left: 4%;
height: 54px;
}

nav {
width: 100%;
height: 80px;
margin-top: -15px;
clear: both;
background-color: #fff;
padding: 30px 0px 66px 0px;
border-bottom: 1px solid #D8D8D8;
background:#464634 url(../img/new_bg.jpg) no-repeat top center;
background-size: 100% 100% auto;
}

nav ul{
display: block;
width: 330px;
float:right;	
padding-right: 1.358209%;
margin-top: -50px;
}
	
nav li {
list-style: none;
float:left;	
padding: 0px;
}

nav li a {
font: 0.85em 'Open Sans', Helvetica, sans-serif;
font-weight: 100;
letter-spacing: 1px;
color:#CECECE;
text-decoration: none;
}

nav li a:hover {
color:#789fb3;
text-decoration: underline;
}

nav li span:hover {
color: #888;
}
	
nav li:not(:last-child):after{
font-size: 1em;
content: "|";
margin: 0px 18px;
color: #888;
}
	
/*
BODY SECTION
*/

section {
width: 100%;
border-bottom: 1px solid #D8D8D8;
}
				
.summary {
margin: auto;
padding: 50px 16.4736842% 35px 16.4736842%;
}
	
h2 {
font-weight: 100;
letter-spacing: 0px;
color: #59879f;
font: 1.3em 'open sans', helvetica, sans-serif;
text-align: center;
padding: 0px;
margin-bottom: 64px;
}
		
h3 {
font-weight: 600;
color: #666;
line-height:1.2em;
padding: 0px 0px 40px 0px;
text-align: center;
}
		
#services h2 {
font: 1.3em 'open sans', helvetica, sans-serif;
margin-top: -30px;
}
	
.summary p {
font: 1.125em 'open sans', helvetica, sans-serif;
font-weight: 100;
color: #666;
line-height:1.5em;
padding: 0px 0px 40px 0px;
}
	
#services_section {
width: 100%;
border: 0px;
}

#services {
margin: auto;
padding: 50px 15.4736842% 56px 15.4736842%;
}
	
#services h3, .formbox h3 {
font-weight: 100;
letter-spacing: 0px;
color: #59879f;
font: 1.3em 'open sans', helvetica, sans-serif;
text-align: center;
padding: 0px;
margin-bottom: 64px;
}
  
#services ul{
margin-top: 0px; 
list-style: none;
}
 
#services li {
font: 1em 'Open Sans', helvetica, sans-serif; /*16 / 16*/
font-weight: 100;
color: #666;
line-height:1.5em;	
}
    	  
#services ul {
margin-top: 10px;
}
	
#services ul h3 {
font-family: 'open sans', helvetica, sans-serif;
font-size: inherit;
font-weight: 800;
color: #666;
margin: 0px;
padding: 0px 0px 6px 0px;
}
	  
.skills {
width: 50%;
text-align: center;
padding: 0px 0px 0px 0px;
float: left;
}
	
.software {
width: 50%;
text-align: center;
padding: 0px 0px 0px 0px;
float: right;
}
	
.clear {
clear: both;
}
	  
/*
image thumbnail properties
*/

.quote-block {
margin: auto;
width: 102px;
height: 102px;
}

.quote-block .photo{
position: relative;
display:inline-block;
}

.quote-block .photo,.quote-block .photo img,.quote-block .photo .inset{
width:100px;
height:100px;
-webkit-border-radius:50px;
-moz-border-radius:50px;
-ms-border-radius:50px;
-o-border-radius:50px;
border-radius:50px;
	}

.quote-block .photo .inset{
-webkit-box-shadow:inset 0 1px 6px rgba(0,0,0,0.6);
-moz-box-shadow:inset 0 1px 6px rgba(0,0,0,0.6);
-ms-box-shadow:inset 0 1px 6px rgba(0,0,0,0.6);
-o-box-shadow:inset 0 1px 6px rgba(0,0,0,0.6);
box-shadow:inset 0 1px 6px rgba(0,0,0,0.6);
position:absolute;
top:0px;left:0px;
}

/*
SOCIAL MEDIA BUTTONS
*/

.social-block{
margin:5px auto 0 auto;
text-align:center;
max-width:100%;
border: 1px solid red;
}
	
.social-block .teammate{
display:inline-block;
position:relative;
width:70px;
height:93px;
padding-right: 4%;
border: 1px solid blue;
}
	
.social-block .name {
font: 1.125em Helvetica, sans-serif;
font-weight: 100;
color: #666;
padding: 0px;
margin-top: 0px;
border: 1px solid green;
}

.thumbnail img,.thumbnail-inset{
width:70px;
height:70px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
position:absolute;
top:0;left:0;
}

.thumbnail img{
background:#efefef
}
	
.thumbnail-inset{
-webkit-box-shadow:inset 0 2px 5px rgba(0,0,0,0.6);
-moz-box-shadow:inset 0 2px 5px rgba(0,0,0,0.6);
-ms-box-shadow:inset 0 2px 5px rgba(0,0,0,0.6);
-o-box-shadow:inset 0 2px 5px rgba(0,0,0,0.6);
box-shadow:inset 0 2px 5px rgba(0,0,0,0.6);
}
	
.by {
line-height:1.3em;
text-align: center;
margin-bottom: -26px;
margin-top: 14px;
}
		
.summary .by, h3 {
font-family: 'open sans';
}		
		
.summary .by {
color: #666;
font-weight: 600;
}
		
.summary .by span {
font-weight: 100;
}
		
#services li, #services ul h3, .summary h2, nav li a, hgroup p, hgroup h1, .summary h2, .summary p, #services h3, .formbox h3, form h1, input, #work h3, #work h4, #work p, {
-webkit-font-smoothing: antialiased;
}
		
/*
CONTACT FORM
*/

.formbox {
margin: auto;
padding: 50px 9.4736842% 56px 9.4736842%;
	}

form {
width: 450px;
padding: 5% 0% 5% 0%;
margin: 0px auto 50px;
border: 1px solid #D8D8D8;
background: #f3f3f3;
}

form h1 {
font-size: 2.125em; 
color: #445668; 
text-transform: uppercase;
text-align: center; 
margin: 0 0 35px 0; 
text-shadow: 0px 1px 0px #f2f2f2;
}

label {
width: 65%; 
text-align: left; 
font-size: 1em;
font-family: 'open sans', helvetica, sans serif;
text-shadow: 0px 1px 0px #f2f2f2;
color: #445668; 
display: block;
margin-left: 15%;
}

input {
width: 65%; 
height: 24px; 
font-family: 'open sans', helvetica, sans serif; 
font-size: 1em;
color: #f2f2f2; 
text-shadow: 0px -1px 0px #334f71; 
padding: 5px 20px 0px 20px; 
background: #59879f;
background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); 
/* webkit */
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
-moz-box-shadow: 0px 1px 0px #f2f2f2;
-webkit-box-shadow: 0px 1px 0px #f2f2f2;
margin-left: 13%;
margin-bottom: 20px;
}

input::-webkit-input-placeholder  {
color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;  
	}
	
input:-moz-placeholder {
color: #a1b2c3; text-shadow: 0px -1px 0px #38506b; 
}

textarea {
width: 65%;
height: 170px;
font: 1em helvetica, sans-serif;
color: #f2f2f2; 
text-shadow: 0px -1px 0px #334f71;
padding: 12px 20px 0px 20px; 
margin: 0 0 20px 0; 
background: #59879f;
background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D));
/* webkit */
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0px 1px 0px #f2f2f2;
-webkit-box-shadow: 0px 1px 0px #f2f2f2;
margin-left: 13%;
}

textarea::-webkit-input-placeholder  {
color: #a1b2c3; 
text-shadow: 0px -1px 0px #38506b;  
	}
	
textarea:-moz-placeholder {
color: #a1b2c3; 
text-shadow: 0px -1px 0px #38506b; 
	}
	
input:focus, textarea:focus {
background: #728eaa;
background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}

input[type=submit] {
font-family: 'open sans', helvetica, sans serif;
width: 160px; 
height: 50px; 
padding: 12px 0px; 
margin-left: 13%;
-moz-box-shadow: 0px 0px 5px #999;
-webkit-box-shadow: 0px 0px 5px #999;
border: 1px solid #556f8c;
background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
cursor: pointer;
clear: both;
}		
		
/*
footer
*/

footer{
clear: both;
position:relative;
background:#333;
background:url(../img/footer.jpg) top center no-repeat;
}
	
footer .wrapper{
background:#333;
background:rgba(0,0,0,0.75);
background:-webkit-linear-gradient(top,rgba(0,0,0,0.8) 0,rgba(0,0,0,0.75) 40px);
background:-moz-linear-gradient(top,rgba(0,0,0,0.8) 0,rgba(0,0,0,0.75) 40px);
padding:20px 0 40px 0;
}
					
footer li{
margin:0;
padding:0;}
	
footer li a {
font: 0.85em 'Open Sans', Helvetica, sans-serif;
font-weight: 100;
}
					
footer a,footer a:visited{
color:#59879f;
}
					
footer a:hover{
color:#789fb3;
}
					
footer em{
padding:0 .4em;
opacity:.7;
}
						
footer .social{
font: 1em 'Open Sans', Helvetica, sans-serif;
font-weight: 100;
margin-top:40px;
text-align:center;
color:#C0C0C0;
font-weight:300;
}
							
footer .final{
font: 1em 'Open Sans', Helvetica, sans-serif;
font-weight: 100;
margin:5px 0 0 0;
text-align:center;
}
								
footer .crafted{
font-size: 0.875em;
font-weight:300;
color:#888;
}
									
footer .copyright{
font-size: 0.6875em;
color:#C0C0C0;
margin-top:20px;
}
	
/*
WORK PAGE ATTRIBUTES
*/
	
#work_section {
width: 100%;
border: 0px;
margin-bottom: 80px;
}

#work {
margin: auto;
width: 84%;
padding: 50px 5.4736842% 56px 5.4736842%;
}
		
#work h3 {
font-weight: 100;
letter-spacing: 0px;
color: #59879f;
font:1.3em 'open Sans', helvetica, sans-serif;
text-align: center;
-webkit-font-smoothing: antialiased;
padding: 0px;
margin-bottom: 60px;
}
	
#work .thumbbox {
width:36.33%;
border: 1px solid #ccc;
display: inline;
float: right;
margin: 1.5em 9% 6% 0em;
}
	
/*
image box properties
*/
	
.thumbbox {
background:#f0f0e4;
text-align:center;
cursor:pointer;
}
	
.thumbbox:hover {
background-color:#FFC;
	box-shadow: 0 0 5px #999900;
}

.thumbbox img {
border-bottom: 1px solid #CCC;
width: 100%;
}

.thumbbox .imglabel {
padding: 8px 0px 11px 0px;
}
	
.thumbbox .imglabel a {
font:1em 'open Sans', helvetica, sans-serif;
font-weight: 500;
text-decoration: none;
color:#000;
}
	
.thumbbox .imglabel a:hover {
color:#59879f;
text-decoration: underline;
}

.hr-shadow{
display:block;
clear:both;
margin: 0em auto -2em auto;
width:90%;
height:60px;
overflow:hidden;
}

.hr-shadow .edge{
height:1px;
background:#e4e4e4;
background:-webkit-linear-gradient(left,#fff 0,#e4e4e4 20%,#e4e4e4 80%,#fff 99%);
background:-moz-linear-gradient(left,#fff 0,#e4e4e4 20%,#e4e4e4 80%,#fff 99%);
background:-ms-linear-gradient(left,#fff 0,#e4e4e4 20%,#e4e4e4 80%,#fff 99%);
background:-o-linear-gradient(left,#fff 0,#e4e4e4 20%,#e4e4e4 80%,#fff 99%);
background:linear-gradient(left,#fff 0,#e4e4e4 20%,#e4e4e4 80%,#fff 99%);
}

.hr-shadow .shadow{
height:40px;
width:80%;
margin:0 auto;
position:relative;
top:-60px;
-webkit-box-shadow:0 0 130px #ccc;
-moz-box-shadow:0 0 130px #ccc;
-ms-box-shadow:0 0 130px #ccc;
-o-box-shadow:0 0 130px #ccc;
box-shadow:0 0 130px #ccc;
}	

@media only screen and (min-width: 1400px) {
	
}

@media only screen and (min-width: 992px) and (max-width: 1180px) {	
	
.summary {
margin: auto;
width: 68%;
}
	
hgroup {
padding: 95px 9.4736842% 95px 9.4736842%;
}

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	
#services ul{
margin-top: 10px; 
list-style: none;
}
 
.skills {
width:50%;
text-align: center;
padding: 0px 0px 0px 0px;
float: left;
margin-bottom: 30px;
}
	
.software {
width:50%;
text-align: center;
padding: 0px 0px 0px 0px;
float: right;
}
	
#services {
margin: auto;
padding: 50px 14.4736842% 56px 14.4736842%;
}
	
hgroup {
padding: 95px 8.4736842% 95px 8.4736842%;  
}

}

@media only screen and (max-width: 767px) {	

}

@media only screen and (min-width: 480px) and (max-width: 767px) { /*borrowed fron 767, this query fixed problem*/

#container {
width: 100%;
}
	
.logo {
width: 215px;
height: 54px;
float: none;
margin: 0px auto 10px;
}

nav {
width: 100%;
height: 80px;
margin: 0;
padding: 26px 0px 66px 0px;
}

nav ul{
display: block;
width: 340px;
float: none;	
padding-left: 8%;
margin: 0px auto 0px;
}
	
nav li {
margin-left: 0px;
}
			
section {
width: 100%;
padding:0px;
margin: 0px;
}
		
#services {
margin: auto;
padding: 50px 13.4736842% 56px 13.4736842%;
}
	
/*
image box properties
*/
	
#work {
margin: auto;
width: 80%;
padding: 50px 5.4736842% 56px 9.4736842%;
}
	
#work .thumbbox {
width:36.33%;
border: 1px solid #ccc;
display: inline;
float: right;
margin: 1.5em 11% 6% 0em;
}

/*
FORM PROPERTIES
*/
		
.formbox {
margin: auto;
padding: 50px 6.4736842% 56px 6.4736842%;
}

form {
width: 80%;
padding: 5% 0% 5% 0%;
margin: 0px auto 50px;
border: 1px solid #D8D8D8;
}
	
hgroup {
padding: 95px 7.4736842% 95px 7.4736842%; 
}	
}

@media only screen and (max-width: 480px) { /*iphone styles that work. adjust nav bar*/

#container {
width: 100%;
margin: auto;
border-right: 0px;
border-left: 0px;
background-color: #fff;
padding: 0px;
}
	
/*
Nav properties inherited from above screen width
*/	
	
.logo {
width: 215px;
height: 54px;
float: none;
margin: 0px auto 10px;
}

nav {
width: 100%;
height: 80px;
margin: 0;
padding: 26px 0px 66px 0px;
}

nav ul{
padding: 0em;
margin: 0px auto 0px;
}

nav li {
margin-left: 0%; /*adjusts left nav prob*/
}

nav li:first-child{
margin-left: 5%; /*centered navigation*/
}

nav li:not(:last-child):after{
font-size: 1em;
margin: 0px 8px; /*this adjusts nav li space prob*/
}

/*possible eliminate above pseudo class to fix nav centering*/
	
.formbox {
margin: auto;
padding: 50px 1% 56px 1%;
}

form {
width: 86%;
padding: 5% 0% 5% 0%;
margin: 0px auto 50px;
border: 1px solid #D8D8D8;
}		
  	
/*
page properties
*/

section {
width: 100%;
}
		
.summary {
margin: auto;
width: 80%;
padding: 50px 9.4736842% 16px 9.4736842%;
}
	
#services_section {
width: 100%;
border: 0px;
	}

#services {
width: 80%;
padding: 50px 9.4736842% 56px 9.4736842%;
}
		  
.skills {
width: 100%;
text-align: center;
float: none;
}
	
.software {
width: 100%;
text-align: center;
float: none;
}
	
hgroup {
padding: 95px 5.4736842% 95px 5.4736842%;
}

/*
image box properties
*/

#work_section {
width: 100%;
border: 0px;
margin-bottom: 80px;
}

#work {
margin: auto;
width: 84%;
padding: 50px 5.4736842% 56px 5.4736842%;
}
	
#work .thumbbox {
width:90.33%;
border: 1px solid #ccc;
display: block;
float: none;
margin: 1.5em auto 15%;
}

footer li a {
font: 90% 'Open Sans', Helvetica, sans-serif;
font-weight: 100;
}

}

@media only screen and (min-width: 320px) {
	nav li:first-child{
margin-left: 8%; /*centered navigation*/
}

nav li a {
font-size: 0.85em;
}

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {	
}